html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    font-family: inherit;
}

body{
    font-family: sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

.top-bar span{
    font-size: 14px;
}

.search-bar{
    display: flex;
    flex: 1;
    max-width: 600px;
    font-size: 33px;
}

.sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 11px;
    color: #333;
}

.support{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 11px;
    color: #333;
}

.wishlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 12px;
    color: #333;
}

.wishlist-icon-wrapper{
    position: relative;
    display: inline-block;
}

.wishlist-badge{
    position: absolute;
    top: -6px;
    right: -10px;

    background-color: #5d5959;
    color: white;
    font-size: 12px !important;
    font-weight: bold;

    min-width: 18px;
    height: 18px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2px;

    transition: background-color 0.3s ease, tansform 0.2s ease ;
}

.wishlist-badge:not([data-count="0"]) {
    background-color: #fe5203;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-top: 12px;
    color: #333;
}

.cart-icon-wrapper{
    position: relative;
    display: inline-block;
}

.cart-badge{
    position: absolute;
    top: -6px;
    right: -10px;

    background-color: #5d5959;
    color: white;
    font-size: 12px !important;
    font-weight: bold;

    min-width: 18px;
    height: 18px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2px;

    transition: background-color 0.3s ease, tansform 0.2s ease ;
}

.cart-badge:not([data-count="0"]) {
    background-color: #fe5203;
}

.search-bar input{
    flex: 1;
    height: 36px;
    border-radius: 10px;
}

.top-bar img{
    width: 180px;
}

.nav-bar{
    font-size: 18px;
    display: flex;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-bar a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover{
    text-decoration: underline;
}

.hero{
    z-index: 1;
    padding: 40px;
    background-image: url(images/banner\ 7-Picsart-AiImageEnhancer-pxbee-minitools-enhance-20260715133818.jpg);
    background-size: cover;
    border-radius: 10px;
}

.hero-text{
    margin-top: 50px;
    padding-top: 7px;
    padding-right: 50px;
    margin-left: auto;
    text-align: right;
}

.hero-text h1{
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-shadow: 1.5px 1.5px 1.5px #807b7b;
}

.hero-text h1 span{
    color: #fe5203;
    text-shadow: 2px 2px 1.5px black;
}

.hero-text h3{
    padding-right: 70px;
    font-size: 37px;
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px #7b7878;
}

section{
    margin-top: 10px;
    margin-bottom: 40px;
}

h2{
    font-size: 22px;
    font-weight: 18;
}

.category-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.category-card{
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    color: white;
    position: relative;
}

.category-card::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
    );
}

.category-card h3{
    z-index: 2;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.football{
    background-image: url(images/football\ category\ background\ square.jpg);
}

.cricket{
    background-image: url(images/cricket\ category\ background.jpg);
}

.gym{
    background-image: url(images/gym\ category\ background\ square.jpg);
}

.running{
    background-image: url(images/running\ category\ background\ square.jpg);
}

.hiking{
    background-image: url(images/hiking\ category\ background\ square.jpg);
}

.swimming{
    background-image: url(images/swimming\ category\ background\ square.jpg);
}

.badminton{
    background-image: url(images/Badminton\ category\ background\ square.jpg);
}

.accessories{
    background-image: url(images/accessories\ category\ background\ square.jpg);
}

.product-slider{
    display: flex;
    overflow-x: auto;
    gap: 25px;
}

.product-card{
    width: 250px;
    flex-shrink: 0;
    cursor: pointer;
    margin-bottom: 20px;
}

.product-card img{
    border: 1px solid #333;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: inline-block;
}

.description{
    font-weight: 200px;
    color: #333;
}

.rating{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 0;
}

.material-symbols-outlined {
    margin: 0;
    padding: 0;
    font-size: 22px !important;
    font-variation-settings:
    'FILL' 100,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
     color: rgb(255, 145, 0);
}

.rating p{
    margin-left: 4px !important;
    margin: 0;
    font-size: 15px;
}

.no-of-reviews{
    font-weight: 50;
    color: #333;
}

.product-name{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: 10px;
    margin-bottom: 2px;
}

.price{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: large;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-details button {
  align-self: flex-end;
}

.add-button{
    color: #333;
    margin-top: 0;
    background: none;
    outline: none;
    padding: 6px 12px;
    font-size: 12px;
    border: 1.8px solid #333;
    border-radius: 6px;
    cursor: pointer;
}

.add-button:hover { 
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); 
  border: 2px solid black;
  color: black;
}

.add-button:active {
  transform: scale(1.01); 
}

.product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 12px;
}

.product-card > .fa-heart {
  position: absolute;
  z-index: 2;
  top: 13px;
  right: 13px;
  background-color: white;
  color: #333;
  font-size: 24px !important;
  min-width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.product-card > .fa-heart:hover{
    font-weight: bold;
    border: 2px solid black;
}

.product-card > .fa-heart:active{
    font-weight: bold;
    color: red;
}